
* {
   /*This uses an automatic sizing of the element boxes feature*/
    box-sizing: border-box;
}

/*Styling to make anchor links look like buttons: */
.buttonlink {
  border: 2px outset buttonface;
  background-color: buttonface;
  color: buttontext;
  text-decoration: none;
  -webkit-appearance: button;
}

/* Div row containing all the images and description button elements.  display:flex arranges all child elements in flex layout */
#galleryWrapper {
      display: flex;
      flex-flow: row wrap;

}

div.imgContainer {
      display: flex;
      flex-direction: column;

}

/* Change Description button on gallery.php (html in functions.php under displayImageGallery())  */
div.updateDesc {

    display: inline-block;
    width: 100%;
}

/*Change Description button on Index gallery*/
#updateButton {
    width: 100%;
    margin-top: 0px;
}

/* Images in the gallery (img and description div): */
div.gallery {
    margin: 5px;
    border: 5px solid #ccc; /* grey */
    float: left;
    width: 180px;

}

/*Apply border change when mouse hovers over image */
div.gallery img {
    width: 100%;
    height: 180px;



}

div.gallery:hover {
  border: 1px solid #777;
} & img:hover {
  border: 1px solid #777;

}

div.desc {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;

}

#searchBar {
  border: 5px solid red;
  width: 20%;
  display: inline-block;
}

#newUpload {
     display:inline;
     border: 5px solid green;
     height: 100px;
}
