/* Additional custom CSS Settings outside of Bootstrap: */

/*Sets a standard height for the images to display so they are the same sizes in the gallery. */
.img_div {
  height: 225px;
  width: 225px;
}

/* Increases size, positions and hides delete x button span on the gallery page */
.deletePic .delete_chkbox {
  width: 2.0rem;
  height: 2.0rem;
  display:none;

}
/* Delete x button revealed when hovering over the image container on gallery page */
/*.thumbnail:hover .close {
  display: inline-block;
}
/* wraps long word in the description caption on the gallery page */
.desc {
  word-wrap: break-word;
}
/* sets the div containing the caption to as wide as the thumbnail - w-100 was not stretching the
caption button background all the way for some reason */
.divCaption {
  width: 225px;
}

.fa-plus-square {
  font-size: 40px; 
}
