
/* This is an old CSS stylesheet before Bootstrap was implemented */

* {
   /*This uses an automatic sizing of the element boxes feature*/
    box-sizing: border-box;
}

/*Styling to make anchor links look like buttons: */
.buttonlink {
    border: 2px outset buttonface;
    background-color: buttonface;
    color: buttontext;
    text-decoration: none;
    -webkit-appearance: button;
    cursor: pointer;
}

/* Div row containing all the images and description button elements.  display:flex arranges all child elements in flex layout */
#galleryWrapper {
    display: flex;
    flex-flow: row wrap;
}

/* Contains the image, delete icon, desscription and change description button */
div.imgContainer {
    display: flex;
    flex-direction: column;
}

/* Images in the gallery (img and description div): */
div.gallery {
    margin: 5px;
    border: none;
    float: left;
    width: 180px;
}

/*Apply border change when mouse hovers over image */
div.gallery img {
    width: 100%;
    height: 180px;
}

div.gallery img:hover {
    border: 1px solid #777;
  }

  /*div.gallery:hover {
      border: 1px solid #777;
    } & */

div.desc {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
}

/* Change Description button   */
div.updateDesc {
    width: 100%;
}
*/
/*Change Description button on Index.php gallery*/
#updateButton {
    width: 95%;
    margin-left: 5px;
    text-align: center;
}

#searchBar {
    width: auto;
    display: inline-block;
}

/* Delete Button in top right corner of images*/
.submitDelete {
    opacity: 0;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: none;
    top: 50px;
    left: 75%;
    cursor: pointer;
}

/*This reveals the Delete button on mouseover of the gallery div*/
div.gallery:hover .submitDelete {
    opacity: 1;
}

/* X icon inside delete button (parent is .submitDelete)*/
.fa-window-close {
    display: inline-block;
    font-size: 1.7rem;
    color: buttonface;
    background: none;
}
/*Border change on hover X delete icon */
i.fa-window-close:hover {
    border: 1px solid #777;

}
